<!doctype html>

{% load image_path_tag %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>{%block title%}{%endblock%}</title>
      <style>
      {%block style%}{%endblock%}
      body{
  font: 1rem/1.5 "PT Sans", Arial, sans-serif;
}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
 }
.dropdown-menu{
  margin-left: -30px;
  border: none;
}
.dropdown-item{
  padding: 5px 0px 5px 0px;
  text-align: center;
  color: white;
}
</style>
  </head>
  <body>
  {% load static %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ApnaBazaar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      
      <li class="nav-item active">
        <a class="nav-link" href="/aboutus">About Us</a>
      </li>
    </ul>
      <form class="form-inline my-1 my-lg-0 mr-3" method="get" action="{% url 'home' %}">
      <input class="form-control mr-sm-2 btn-sm" type="search" placeholder="Search" aria-label="Search" value='{{ filter }}' name='product'>
      <button class="my-2 my-sm-0 btn-sm" style="color: white;background-color: transparent;border: none;" type="submit">Search</button>
      </form>
    {% if user.is_authenticated %}
    <div class="dropdown">
      <button class="btn btn-sm btn-secondary dropdown-toggle mr-3" style="background-color: transparent;border: none;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Hi, {{user.username|capfirst}}
      </button>
      <div class="dropdown-menu navbar-dark bg-dark" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item btn-sm mt-2" href="#">My Cart{% if cart|length is not 0 %}&nbsp<sup style="border: 0.1px solid white;border-radius: 80px;padding: 0px 2px 0px 2px;">{{cart|length}}</sup>{% endif %}</a>
        <a class="dropdown-item btn-sm" href="#">Order History</a>
        <a class="dropdown-item btn-sm" href="#">Profile</a>
        <a class="dropdown-item btn-sm" href="{% url 'logout' %}">Logout</a>
    
      </div>
    </div>
    {% else %}
    {% ifnotequal request.path '/login' %}
    <a class=" btn-sm my-2 my-sm-0 mr-3" style="color: white;text-decoration: none;" href="{% url 'login' %}">Login</a>
    {% endifnotequal %}
    {% endif %}
  </div>
</nav>
<br>
{% if messages %}
{% for message in messages %}
<div class='alert alert-{{ message.tags }}' id="msg" style="width: 80%;margin:auto">{{message}}</div>
{% endfor %}
{% endif %}  
<br>
{% block body %}
{% endblock %}
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    {% block js%}
    {% endblock %}
  </body>
</html>
