{% extends 'shop/basic.html' %}
{% block title %}Home{% endblock%}
{% block style%}
  body{
  font: 1rem/1.5 "PT Sans", Arial, sans-serif;
}
{% endblock %}
  {%block body %}
  {% load static %}
<div class="container">
  <div class="container carousel-inner no-padding"> 
      {% for i in product %}
        <div class="col-xs-3 col-sm-3 col-md-3 mt-3" style="float: left;margin-left: 40px; width: 300px;height: 400px;">
          <div class="card" style="width: 18rem;">
            <img src='/media/{{i.image}}' style="width: 200px; height: 200px; margin: auto;margin-top: 12px;" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{i.product_name}}</h5>
              <p class="card-text" style="color: gray;">{{i.desc}}</p>
              <p style="text-align: center;">Rs. {{i.price}}/-</p>
              <div style="text-align: center;"><a class="btn btn-primary btn-sm" style="display: inline-block; margin: auto;color: white;" href="{% url 'addtocart' i.id %}" id='pr{{i.id}}'>Add to Cart</a></div>
            </div>
          </div>
        </div>
        {% endfor %}
{% endblock %}
